body{
    font-family: 'Agency FB Regular', 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    color: #0c344c;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-image: url('../images/gradient1.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

@keyframes popping {
	0% {
		transform: scale(0.8);
	}

	25% {
		transform: scale(1);
	}

    50% {
		transform: scale(0.8);
	}

	100% {
		transform: scale(1);
	}
}

body{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 0.5fr 4fr 0.05fr; */
    grid-template-rows: auto;
}

header{
    grid-row: 1 / span 1;
    grid-column: 1;
}

main{
    grid-row: 2 / span 1;
    grid-column: 1;
}

footer{
    grid-row: auto;
    background-color: #3EB489;
    color: white;
    grid-column: 1;
    margin-top: 10px;
}


h1{
    font-size: 40px;
    text-align: center;
    padding: 30px;
    color: white;
    font-weight: bold;
    animation: popping 5s linear;

}

@media screen and (prefers-reduced-motion: reduce) {
    h1{
      animation: none;
  }

}

h2{
    font-size:30px;
    font-weight: bold;
    padding: 20px;
    color: white;
}

p{
    padding: 10px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: white;
    margin: 10px;
}

ul{
    list-style-type: circle;
    padding-left: 20px;
    padding-right: 50px;
    color: white;
    margin: 20px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

img{
    width: 85%;
    display: block;
    margin: auto;
    padding: 20px;
    border: 5px solid white;
    background-color: white;
    border-radius: 30px;
}

img:hover{
    border: 5px solid  #1657e8;
    border-radius: 30px;
}

/*NAVIGATION*/

nav{
    padding-top: 30px;
    text-align: center;
    padding: 20px;
}

nav a{
    color: #0B0B45;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    background-color: white;
    display: block;
    margin: 10px;
  }

nav a:hover{
    border: 3px dotted #0c344c;
    background-color: #3EB489;
    color: white;
}

.navpage{
    border: 3px solid lightblue;
    background-color: lightblue ;
    color: #0c344c;
}

/* ACCESSIBILITY */
.skip a{
    position: absolute;
    top: -40px;
    z-index: 1;
    color: black;
}

.skip a:focus{
    position: absolute;
    top: 0;
    color: black;
}


/*INDEX DETAILS*/

.mainimage{
    width: 80%;
    display: block;
    margin: auto;
    border: 5px solid white;
}


/* DEVICES DETAILS - Gallery */

.logoimage{
    display: block;
    border: 5px solid white;
    padding: 5px;
    width: 90%;
    margin: auto;
}
.devicesflex1{
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: auto;
    row-gap: 20px;

}

.devicesflex2{
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: auto;
    row-gap: 20px;

}

/* SPEECH DETAILS */
.speechimage{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* IMPACT DETAILS */


.fa-comments{
    color: white;
    text-align: center;
    width: 100%;
    
}

.aside_main{
    display: grid;
    grid-template-columns: 1fr;
}

.left_content{
    grid-column: 1;
}

aside {
    grid-column: 1;
    background-color: grey;
    border-radius: 20px;
    margin: 10px;
    padding-top: 20px;
}

.impactimg{
    margin-top: 10px;
    margin-bottom: 20px;
}


/* TABLET */
@media screen and (min-width:778px){

}

/* DESKTOP */ 
@media screen and (min-width:900px){


    @keyframes movetitle {
        from {
            margin-left: 100%;
            width: 100%;
        }
        
        to {
            margin-left: 0%;
            width: 90%;
        }

    }

    h1{
        animation-duration: 4s;
    }

    nav{
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    nav a{
        margin-left: 20px;
        margin-right: 20px;
    }

    /* INDEX DETAILS */

    .whole{
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 50px;
    }

    .mainimage{
        width: 65%;
    }
    
    .section2{
        border-radius:30px;
        grid-column-start: 1;
        grid-row-start: 1;
        background-color: #1870d5;
        padding: 20px;
        margin: auto;
        object-fit: fill;
    }
    
    .section3{
        border-radius: 30px;
        grid-column-start: 2;
        grid-row-start: 2;
        margin: auto;
        background-color: #1870d5;
        padding: 20px;
    }

    /* SPEECH DETAILS*/

    .speechimgs{
        display: flex;
        justify-content: center;
    }

    .speechimage {
        margin: auto;
        border: 5px solid white;
        padding: 5px;
        width: 25%
    }

    /* DEVICES DETAILS */

 

    /* IMPACT DETAILS */

    

    
}